body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'sans-serif';
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    height: 300px;
    max-width: 25%;
    margin: auto;
    background-color: rgba(0,0,0,0.2);
}

main input {
    flex: 1;
    margin: 10px;
    border: none;
    text-align: center;
    font-size: 1.5rem;
}

main .row {
    min-width: 100%;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

main button {
    height: 50px;
    margin: 5px;
    border: none;
    flex: 1;
    font-size: 2rem;
}


main button:hover, main button:active {
    background-color: gray;
    cursor: pointer;
}